@import url('resets.css');
@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900);

/* ==========================================================================
   Globals
   ========================================================================== */
/**
 * This houses all the global css classes
 */
html, body {
	height:100%;	
	font-family: 'Maven Pro', sans-serif;
}
.wrap {
	width: 100%;
	position: relative;
	overflow: none;
	padding: 0% 2%;
}
.divider {
	clear: both;
	height: 15px;
}
header.mobile,
.mobile-nav,
aside.mobile,
.mobile-360,
.mobile-title,
.loader2 {
	display: none;
}
img.alignleft {
	float: left;
	padding: 0 10px 10px 0;
}
img.alignright {
	float: right;
	padding: 0 0 10px 10px;
}
video,
iframe {
	max-width: 100%;
}
.left {
	float:left;
}
.right {
	float:right;
}
.block {
	display:block;
}
.none {
	display:none;
}
.relative {
	position:relative;
}
.text-left {
	text-align:left;
}
.text-right {
	text-align:right;
}
.center {
	text-align:center;
}
.bold {
	font-weight:700;
}
.italic {
	font-style:italic;
}
.uppercase {
	text-transform:uppercase;
}
.table {
	display: table;
	width: 100%;
}
.forty8 {
	width: 48%;
}

/* ==========================================================================
   Header
   ========================================================================== */
header .team-logos {
	background-color: #181818;
	height: 28px;
	display: block;
	width: 100%;
}
header.desktop {
	background-color: #2c3154;
	margin-top: -4px;
}
header.desktop a.logo {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 400;
}
header.desktop nav {
	padding: 32px 0 0 0;
}
header.desktop .header-splash {
	position: absolute;
	top: 15px;
	left: 0;
	z-index: 99;
	width:100%;
	display: block;
}/*
.home .splash {
	background: url(../img/newsplash_home.jpg) top center no-repeat;
	background-size: cover;
}*/
header nav ul {
	float: left;
	margin-left: 180px;
}
header nav ul.socials {
	margin-left: 0px;
}
header nav ul li {
	display: inline-block;
	font-weight: 500;
	font-size: 15px;
	list-style: none;
	padding: 3px 10px 16px 10px;
	text-transform: uppercase;
	position: relative;
}
img.followme {
	margin-bottom: -7px;
}
header nav ul li a {
	color: #fff;
	text-decoration: none;
}
header nav ul li a:hover {
	color: #f5b31e;
}
header nav ul ul {
	position: absolute;
	top: 100%;
	left: 0;
	width: 200%;
	z-index: 500;
	background-color: #af1818;
	display: none;
	margin-left: 0px;
	margin-top: 0px;
}
header nav ul li:hover ul {
	display: block;
}
header nav ul ul li {
	text-transform: none;
	padding: 0;
	width: 100%;
	font-weight: 400;
	font-size: 15px;
}
header nav ul ul li a {
	display: block;
	padding: 10px;
	border-bottom: 1px solid #f5b31e;
	width: 100%;
}
header nav ul ul li:last-child a {
	border: none;
}
header nav ul ul li a:hover {
	color: #f5b31e;
}
header nav ul.socials {
	float: right;
}
header nav ul.socials li {
	padding: 0;
}
header nav ul.socials li a.icon {
	text-indent: -9999px;
	width: 25px;
	height: 25px;
	background: url(../img/socials.jpg) no-repeat;
	display: block;
	content: "";
}
header nav ul.socials li a.icon.fb {
	background-position: 0 0;
}
header nav ul.socials li a.icon.yt {
	background-position: -25px 0;
}
header nav ul.socials li a.icon.tw {
	background-position: -50px 0;
}
header nav ul.socials li a.icon.go {
	background-position: -75px 0;
}
.internal .splash {
	height: 224px;
	background: url(../img/internal-header-bg.jpg) top center no-repeat;
	background-size: cover;
}
.internal header.desktop a.logo img {
	width: 140px;
}
header .title {
	position: absolute;
	bottom: 3%;
	left: 16%;
	font-weight: 900;
	text-transform: uppercase;
}
.internal .splash .title h2 {
	color: #f8d62c;
	font-size: 28px;
	line-height: 18px;
	margin: 0;
}
.internal .splash .title h1 {
	color: #fff;
	font-size: 92px;
	line-height: 82px;
	margin: 0;
	letter-spacing: -5px;
}
.internal .splash {
	margin-bottom: 30px;
}
.internal .splashguy {
	display: none;
}
.internal .splash .wrap {
	height: 224px;
}
.internal .splash .wrap .title {
	position: absolute;
	bottom: 14px;
	left: 0;
}


/* ==========================================================================
   Main Section
   ========================================================================== */


/* 
   Homepage
   ========================================================================== */
.home-boxes .box {
	float: left;
	width: 25%;
	display: block;
	text-align: center;
}
.home-boxes {
	margin-top: 20px;
	margin-bottom: 20px;
}
.internal .home-boxes {
	margin: 25px 0 0 0;
}
.press-releases {
	margin-top: 20px;
	display: block;
}
.press-releases h3 {
	color: #292f51;
	font-weight: 500;
	font-weight: 20px;
	margin: 15px 0;
}
.home aside.right {
	margin-top: 15px;
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.iframe-wrapper {
    position: relative;
    padding-bottom: 27px;
    padding-top: 30px; height: 0; 
    overflow: auto;
    -webkit-overflow-scrolling: touch !important; 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
}
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed,
.iframe-wrapper iframe,
.iframe-wrapper object,
.iframe-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.press-releases h3 + p {
	margin-bottom: 0px;
}
.fb-like-box span,
.fb-like-box iframe {
	width: 100% !important;
}

/* 
   Main globals
   ========================================================================== */
.container {
	width: 59%;
}
.home .container h2 {
	font-size: 24px;
	color: #b10010;
	font-weight: 400;
	text-transform: uppercase;
	margin: 15px 0;
}
.internal .container h2 {
	font-size: 30px;
	font-weight: 600;
	color: #292f51;
	margin: 0;
}
.internal .container h3 {
	font-size: 22px;
	font-weight: 600;
	color: #292f51;
	margin: 0;
}
.internal .container h3 a,
.internal .container p a {
	color: #b10010;
	text-decoration: none;
}
.internal .container h3 a:hover,
.internal .container p a:hover {
	text-decoration: underline;
}
p {
	margin: 16px 0;
	font-size: 14px;
	line-height: 18px;
	color: #626262;
	font-family: Arial, Helvetica, sans-serif;
}
.main li {
	font-size: 14px;
	line-height: 18px;
	color: #626262;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 10px;
}
.btn {
	display: inline-block;
	padding: 5px 15px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13px;
	text-decoration: none;
}
.btn.red {
	background-color: #b10010;
}
.btn.blue {
	background-color: #292f51;
}
.btn:hover {
	background-color: #dba11b;
}
aside {
	width: 37%;
}
aside form {
	position: relative;
}
aside input[type=search] {
	width: 100%;
	padding: 5px 23px 5px 5px;
	font-weight: 400;
	color: #000;
	font-size: 16px;
	border: 1px solid #ccc;
}
aside button {
	width: 17px;
	height: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	border: none;
	background: url(../img/search-submit.jpg) no-repeat;
	cursor: pointer;
	text-indent: -9999px;
}
aside .news h2 {
	text-align: center;
	border-top: 1px solid #292f51;
	line-height: 0em;
	margin: 10px 0 0;
	font-size: 20px;
	font-weight: 300;
	color: #292f51;
}
aside .news h2 span {
	background-color: #fff;
	padding: 0 10px;
}
aside span.date {
	margin: 16px 0;
	font-size: 12px;
	color: #626262;
	font-family: Arial, Helvetica, sans-serif;
}
aside .next-games {
	border: 1px solid #ccc;
}
aside .next-games .title {
	background-color: #b10010;
	color: #fff;
	font-weight: 500;
	font-size: 21px;
	padding: 10px 0;
	display: block;
	width: 100%;
}
aside .next-games .content {
	padding: 7px 5px;
}
aside .next-games .content span {
	display: block;
	width: 100%;
}
aside .next-games .content span.date,
aside .next-games .content span.time {
	font-weight: 800;
	font-size: 16px;
	color: #282828;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
aside .next-games .content span.versus {
	font-weight: 500;
	font-size: 14px;
	color: #282828;
	margin: 0;
	padding: 0;
}
aside .next-games .boxes {
	width: 33.333%;
	float: left;
	display: block;
	text-align: center;
}
aside .next-games .boxes:nth-child(n+4) {
	display: none;
}
.container label {
	display: block;
	text-align: left;
}
.container input[type=text],
.container input[type=email],
.container textarea,
.container select {
	width: 100%;
	padding: 7px;
	font-size: 14px;
	font-weight: 300;
	border: 1px solid #bbb;
}
.container textarea {
	height: 140px;
}
.container input[type=submit] {
    color: #FFFFFF;
    display: inline-block;
    font-size: 17px;
    font-weight: 400;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #B10010;
    border: none;
    font-family: "Maven Pro", sans-serif;
}
.container input[type=submit]:hover {
	background-color: #292F51;
}


/* 
   Tickets Page
   ========================================================================== */
.next-game {
	display: none;
}
.next-game .details {
	background-color: #e0e0e0;
}
.next-game:first-child {
	display: block;
}
.next-game .details .opponent {
	padding: 10px;
	width: 45%;
	font-size: 20px;
	color: #3a3a3a;
	font-weight: 400;
}
.next-game .details .ticket {
	width: 55%;
	padding: 0;
}
.next-game .details .ticket .purchase {
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	margin-left: 10px;
}
.next-game .details .ticket .datetime {
	padding: 10px 0;
	color: #3a3a3a;
	font-weight: 400;
	font-size: 20px;
}
.next-game .details .ticket .purchase a {
	background-color: #b2162a;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding: 10px;
}
.next-game .details .ticket .purchase a:hover {
	background-color: #2c3154;
}
table.games {
	border-collapse: collapse;
	width: 100%;
}
table.games td {
	padding: 10px;
	font-size: 14px;
}
table.games tr:nth-child(even) td {
	background-color: #e6e6e6;
}

/* 
   Roster + Coaching Staff
   ========================================================================== */
div.roster {
	padding-bottom: 15px;
	margin-bottom: 15px;
}
div.roster:last-child {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.internal .container .roster h3 {
	font-weight: 300;
	text-transform: uppercase;
	color: #292f51;
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid #d4d4d4;
	width: 100%;
	display: block;
}
.internal .single-page-roster h3 {
	font-weight: 300;
	text-transform: uppercase;
	color: #292f51;
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid #292f51;
	width: 100%;
	display: block;
	font-size: 30px;
}
.single-page-roster .bignumber {
	display: block;
	font-size: 144px;
	line-height: 144px;
	font-weight: 800;
	color: #292f51;
	letter-spacing: -2px;
}
.container .single-page-roster ul.deets {
	margin-top: 15px;
}
.container .single-page-roster ul.deets li {
	font-weight: 300;
	font-size: 18px;
	list-style: none;
	margin-bottom: 3px;
	color: #626262;
	margin-left: 0px;
}
.single-page-roster span.red {
	color: #b10010;
	font-weight: 500;
}
.roster article.single-roster {
	width: 33.333%;
	float: left;
	padding: 0 1%;
	margin-bottom: 2%
;}
.roster article.single-roster img {
	display: block;
}
.roster article.single-roster .name {
	display: block;
	width: 100%;
	font-size: 15px;
	color: #fff;
	text-align: center;
	padding: 5px;
	font-weight: 300;
	background-color: #282d4d
}
.roster article.single-roster a {
	text-decoration: none;
}
.roster article.single-roster .number {
	color: #fff;
	font-weight: 700;
	font-size: 24px;
	display: inline-block;
	padding: 8px;
	position: absolute;
	top: 0;
	left: 3%;
	background-color: #a4000f;
}
.coach-img {
	width: 25%;
	float: left;
	padding: 0 10px 0 0;
}
.single-coach {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.single-coach:last-child {
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.internal .container .coach-content h2 {
	font-size: 40px;
}
.internal .container .coach-content {
	text-align: justify;
}
.internal .container .coach-content p:last-child {
	margin-bottom: 0px;
}


/* 
   Blog Page(s)
   ========================================================================== */
.sidebar-widget h3 {
	font-family: "Maven", sans-serif;
	font-weight: 500;
	font-size: 17px;
	color: #fff;
	width: 100%;
	display: block;
	padding: 10px;
	background-color: #B10010;
}
.widget_categories,
.widget_archive {
	margin-bottom: 15px;
	border: 1px solid #ccc;
}
.sidebar-widget ul li {
	list-style: none;
	margin: 0;
}
.sidebar-widget ul li a {
	display: block;
	width: 100%;
	padding: 10px;
	text-decoration: none;
	color: #292f51;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.sidebar-widget ul li a:hover,
.sidebar-widget ul li.current-cat a {
	background-color: #f5f5f5;
}
.sidebar-widget ul li a:after {
	content: "";
	position: absolute;
	width: 7px;
	height: 13px;
	background: url(../img/category-arrow.png) no-repeat;
	top: 50%;
	right: 10px;
	margin-top: -6.5px;
}
.sidebar-widget ul li:last-child a {
	border: none;
}
.container.blog h2 a {
	text-decoration: none;
	color: #292F51;
	font-size: 27px;
}
.container.blog h2 a:hover {
	color: #B10010;
}
.blog span.date {
	color: #666666;
	font-size: 14px;
	font-weight: 300;
}
.single-post {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.single-post:last-child {
	border: none;
}
.single-post table {
	width: 100%;
	border-collapse: collapse;
}
.single-post table td {
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	color: #626262;
}
.single-post th {
	font-size: 14px;
	color: black;
	padding: 5px;
	border: 1px solid #fff;
	text-align: left;
	backgorund-color: #ccc;
}
.page-numbers.current {
    background-color: #F5F5F5;
    color: #999999;
}
.page-numbers:first-child {
    border-left: 1px solid #DDDDDD;
}
.page-numbers {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    color: #B10010;
    float: left;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
}
.page-numbers:hover {
	background-color: #f5f5f5;
}

/* 
  Forms
   ========================================================================== */
footer .loader2 {
	position: absolute;
	top: 4px;
	right: 5px;
}



/* 
   Recognized supporters
   ========================================================================== */
.supporter-list {
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}
.supporter-list:last-child {
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}



/* ==========================================================================
   Footer
   ========================================================================== */
footer {
	margin-top: 20px;
}
.main-sponsors {
	padding: 20px 0;
	background-color: #ddd;
}
.main-sponsors ul {
	width: 100%;
	display: table;
}
.main-sponsors ul li {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	list-style: none;
	padding: 0 1%;
}
.connect {
	padding: 15px 0;
	background-color: #af1818;
	margin-bottom: 15px;
}
.connect p {
	margin: 0;
}
.connect .ajax-display {
	loader: none;
}
.connect input[type=text],
.connect input[type=email] {
	width: 100%;
	padding: 7px 31px 6px 5px;
	border: 1px solid #ccc;
	font-size: 15px;
	color: #000;
	font-size: 400;
}
.connect form {
	position: relative;
}
.connect input[type=submit] {
	width: 22px;
	height: 22px;
	text-indent: -9999px;
	border: none;
	cursor: pointer;
	background: url(../img/newsletter-submit.png) no-repeat;
	position: absolute;
	right: 5px;
	top: 5px;
}
.connect i.twitter-icon {
	width: 7%;
	padding-top: 5px;
}
.connect .tweet {
	width: 93%;
	color: #fff;
	font-size: 13px;
	font-weight: 200;
}
.wptw_addborder {
	border: none;
	padding: 0;
}
.wptw_addborder ul.widget_twitter li {
	border: none;
	padding: 0;
	line-height: normal;
	font-size: 13px;
}
.wptw_addborder ul.widget_twitter li a {
	color: #fff;
}
.wp_twitter_widget .widget_twitter li, 
.wptw_footer {
	border: none;
}
footer .icon {
	background: url(../img/footer-socials.png) no-repeat;
	height: 21px;
	width: 19px;
	text-indent: -9999px;
	display: block;
}
footer .icon.fb {
	background-position: 0 0;
}
footer .icon.yt {
	background-position: -19px 0;
}
footer .icon.tw {
	background-position: -38px 0;
}
footer .icon.go {
	background-position: -56px 0;
}
footer .boxes {
	width: 30%;
	float: left;
}
footer .boxes:last-child {
	float: right;
}
footer .boxes:nth-child(1),
footer .boxes:nth-child(2) {
	width: 20%;
}
footer .boxes li,
footer .boxes li a {
	color: #808080;
	font-size: 15px;
	margin-bottom: 7px;
	text-transform: uppercase;
	font-weight: 300;
	text-decoration: none;
}
footer .boxes li a:hover {
	color: #af1818;
}
footer .boxes li.social-links {
	padding-top: 5px;
}
footer .boxes li.social-links a {
	display: inline-block;
	margin-right: 10px;
}
footer .boxes li p,
footer .boxes li p a {
	text-transform: none;
	color: #af1818;
	font-size: 14px;
	text-decoration: none;
	font-weight: 200;
}
footer .copyright {
	border-top: 1px solid #dfdfdf;
}
footer .copyright p {
	text-transform: uppercase;
	color: #515151;
	font-size: 13px;
	font-weight: 300;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (-webkit-min-device-pixel-ratio:0) {
   header nav ul li {
   	    padding: 3px 10px 18px 10px;
   }
}

@media only screen and (max-width: 1280px) {
	.main-sponsors ul li {
		width: 20%;
		float: left;
		display: block;
	}
}

@media only screen and (min-width: 990px) {
	.wrap {
		width: 990px;
		margin: 0 auto;
		padding: 0;
	}
}

@media only screen and (max-width: 980px) {
	header.desktop nav ul.socials {
		padding-right: 2%;
	}
	.roster article.single-roster .name {
		font-size: 14px;
	}
}

@media only screen and (max-width: 800px) {
	header nav ul {
		margin-left: 160px;
	}
	aside .next-games .boxes img {
		width: 62px;
	}
	aside .next-games .content span.date, 
	aside .next-games .content span.time {
		font-size: 14px;
	}
	aside .next-games .content span.versus {
		font-size: 12px;
	}
	aside .next-games .title {
		padding: 5px;
		font-size: 19px;
	}
	.main-sponsors ul {
		display: block;
		text-align: center;
	}
	.connect .tweet {
		width: 91%;
	}
	footer .boxes:nth-child(1) {
		width: 15%;
	}
	footer .boxes:nth-child(3) {
		width: 35%;
		padding-left: 3%;
	}
	header.desktop .title {
		right: 4%;
		left: auto;
	}
	header .title h1 {
	    font-size: 77px;
	    line-height: 72px;
	}
	.roster article.single-roster {
		width: 50%;
	}
	.roster article.single-roster .name {
		font-size: 16px;
	}
}

@media only screen and (max-width: 768px) {
	.roster article.single-roster {
		width: 50%;
	}
	.roster article.single-roster .name {
		font-size: 16px;
	}
	header nav ul {
		margin-left: 140px;
	}
}

@media only screen and (max-width: 640px) {
	.container,
	aside.right {
		width: 100%;
		float: none;
		margin-bottom: 25px;
	}
	.internal .splash-img {
		display: none;
	}
	.next-game {
		margin-top: 25px;
	}
	.next-game .divider {
		height: 0px;
	}
	aside .next-games .boxes img {
		width: auto;
	}
	aside .next-games .content span.date, 
	aside .next-games .content span.time {
		font-size: 17px;
	}
	aside .next-games .content span.versus {
		font-size: 16px;
	}
	p,
	.press-releases h3,
	.container h2,
	aside span.date {
		text-align: center;
		display: block;
	}
	.blog p,
	.container.blog h2
	.blog .press-releases h3,
	.blog aside span.date {
		text-align: justify;
	}
	.internal .container .coach-content p {
		text-align: justify;
	}
	.internal .container .coach-content h2 {
		text-align: left;
	}
	.connect .forty8 {
		width: 100%;
		float: none;
		margin-bottom: 15px;
	}
	.connect .forty8.right {
		margin-bottom: 0px;
	}
	.connect {
		margin-bottom: 0px;
	}
	footer .boxes:nth-child(1),
	footer .boxes:nth-child(2),
	footer .boxes:nth-child(3),
	footer .boxes {
		width: 100%;
		float: none;
		padding-left: 0px;
	}
	footer .boxes p {
		text-align: left;
		margin-top: 0px;
	}
	footer .boxes li {
		border-top: 1px solid #ccc;
		padding: 5px 0;
		display: block;
		width: 100%;
	}
	footer .boxes:nth-child(1) li:last-child {
		border-bottom: 1px solid #ccc;
	}
	footer .boxes li:first-child,
	footer .boxes li.social-links,
	footer .boxes li.address {
		border: none;
	}
	header.desktop {
		display: block;
	}
	header.mobile {
		display: none;
	}
	.splash-img {
		margin-top: -4px;
	}
	header.mobile .header-wrap {
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		display: block;
	}
	header.mobile ul {
		float: right;
	}
	header.mobile nav {
		padding: 2%;
	}
	header.mobile nav ul.socials {
		margin-right: 2.5%;
		margin-top: 15px;
	}
	.internal header.mobile .mobile-logo img {
		width: 138px;
	}
	header .title h2 {
		font-size: 22px;
		line-height: 14px;
	}
	header .title h1 {
		font-size: 60px;
		line-height: 60px;
	}
	header .title {
		bottom: 9%;
		right: 5%;
		left: auto;
	}
	.roster article.single-roster {
		width: 33.333%;
	}
	.main .container ul {
		text-align: center;
	}
	header nav ul li {
		padding: 3px 10px;
	}
	header nav ul {
		margin: 0;
		padding-bottom: 7px;
	}
	header.desktop nav {
		padding: 0 0 11px 0;
	}
	header nav ul {
		margin-left: 0px;
		float: right;
	}
	header nav ul.socials li {
		float: right;
		margin-left: 5px;
	}
	header.desktop nav ul.socials {
		width: 100%;
	}
	header.desktop nav ul.socials {
		margin-top: 15px;
	}
}

@media only screen and (max-width: 591px) {
	header nav ul li {
		padding: 3px 5px;
	}
}

@media only screen and (max-width: 540px) {
	header nav ul li {
		padding: 3px;
	}
}

@media only screen and (max-width: 480px) {
	.home-boxes {
		margin-top: 10px;
	}
	.home-boxes .box {
		width: 50%;
	}
	.main-sponsors ul {
		display: block;
		width: 100%;
	}
	header nav ul li {
		font-size: 13px;
		padding: 3px 5px;
	}
	.mobile-logo img {
		width: 128px;
	}
	header .title h2 {
		font-size: 18px;
		line-height: 10px;
	}
	header .title h1 {
		font-size: 39px;
		line-height: 39px;
		letter-spacing: -3px
	}
	.internal .main {
		margin-top: 134px;
	}
	.next-game .details .ticket,
	.next-game .details .opponent,
	.next-game .details .ticket .purchase,
	.next-game .details .ticket .datetime {
		width: 100%;
		text-align: center;
	}
	.next-game .details .ticket .purchase a {
		width: 70%;
		border-radius: 5px;
	}
	table.games td {
		padding: 5px 4px;
	}
	.roster article.single-roster {
		width: 50%;
	}
	.coach-img {
		width: 40%;
	}
	header.desktop,
	.internal header.desktop {
		display: none;
	}
	.internal .splash {
		display: none;
	}
	header.mobile,
	.internal header.mobile {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #2C3154;
		height: 114px;
		z-index: 999;
	}
	header.mobile .team-logos {
		display: block;
	}
	.mobile-menu-btn {
		padding: 5%;
	}
	.mobile-menu-btn img {
		opacity: 0.7;
	}
	.mobile-menu-btn:hover img {
		opacity: 0.5;
	}
	.mobile-menu-btn:active img {
		opacity: 0.3;
	}
	nav.mobile-nav {
		position: fixed;
		top: 114px;
		left: 0;
		width: 50%;
		height: 100%;
		background-color: #181818;
		display: none;
		z-index: 499;
		overflow: auto;
	}
	nav.mobile-nav ul {
		padding-bottom: 63%;
	}
	nav.mobile-nav ul ul {
		padding-bottom: 0px;
	}
	nav.mobile-nav ul li a {
		display: block;
		width: 100%;
		border-bottom: 1px solid #404040;
		color: #fff;
		font-weight: 300;
		font-size: 14px;
		text-decoration: none;
		padding: 10px;
		-moz-transition: border 0.5s, background-color 0.5s, -moz-transform 0.5s;
	    -webkit-transition: border 0.5s, background-color 0.5s, -webkit-transform 0.5s;
	    -o-transition: border 0.5s, background-color 0.5s, -o-transform 0.5s;
	    transition: border 0.5s, background-color 0.5s, transform 0.5s;
	}
	nav.mobile-nav ul li a:hover {
		color: #facc12;
		background-color: #404040;
	}
	.home .main {
		margin-top: 114px;
	}
	.internal header {
		height: 58px;
		background: none;
		margin-bottom: 55px;
	}
	.mobile-title {
		display: block;
		width: 100%;
	}
	.mobile-title h2 {
		color: #808080;
		font-size: 28px;
		line-height: 18px;
		margin: 0;
	}
	.mobile-title h1 {
		color: #B10010;
		font-size: 65px;
		line-height: 65px;
		margin: 0 0 25px 0;
		letter-spacing: -5px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
	}
	.desktop-iframe {
		display: none;
	}
	.home .main {
		margin-top: 0px;
	}
	.home .splash {
		margin-top: 114px;
	}
}

@media only screen and (max-width: 360px) {
	a.logoish img {
		margin: 5% 10%;
	}
	aside .next-games .content {
		padding: 7px 0;
	}
	aside .next-games .boxes {
		width: 100%;
		border-bottom: 1px solid #ccc;
	}
	header.mobile .header-wrap {
		display: none;
	}
	header .team-logos {
		display: none;
	}
	.splash-img {
		display: none;
	}
	table.games td {
		text-align: center;
	}
	.roster article.single-roster {
		width: 100%;
	}
	.roster article.single-roster .name {
		font-size: 20px;
	}
	.roster article.single-roster .number {
		font-size: 32px;
	}
	.main-sponsors ul li {
		width: 100%;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 320px) {
	.roster article.single-roster {
		margin-bottom: 3%;
	}
}

